.category>ul>li:nth-child(1) {
    font-weight: bold;
    color:rgb(72, 87, 69);
    text-decoration: underline;
}

.category>ul>li>a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}
.photo-frame>div>p:nth-child(1):hover {
    text-decoration: underline;
}
.text-frame > p:not(:nth-child(2)){
    margin-bottom: 5px;
    font-size: 10pt;
    font-weight: bold;
}
.text-frame > p:nth-child(2){
    font-size:9pt;
    color:rgb(128, 128, 128);
}
.text-frame > p:nth-child(2)>img {
    height: 15px;
    margin: 0 2px -3px 6px;
    opacity: 0.5;
}


.main-photo{
    display: none;
    margin-bottom: 10px;
}
.show {
    display:grid;
}
.pagination {
    width: 50%;
    justify-content: center;
    margin: 0 46%; margin-bottom: 60px;
}
.pagination>a {
    text-decoration: none;
    color: rgb(73, 70, 70);
    margin: 0 10px;
    font-size: 10pt;
}
.pagination>a:hover{
    border-bottom: 1px solid rgb(41, 38, 38);
    font-weight: bold;
}
.page{
    text-decoration: underline;
    border-bottom: 1px solid transparent;
}
.current-page{
    border-bottom: 1px solid rgb(41, 38, 38);
    font-weight: bold;
}