{% extends 'layout.html' %}

{% block css %}
<link rel='stylesheet' href="/public/css/common-part.css">
<link rel='stylesheet' href="/public/css/cafe.css">
{% endblock %}


{% block maincontent %}
<div class="content">
    <h5>카페모음<p>_게시글 22개</p>
    </h5>
    <div class="main-photo show" id="page-1-content">
        <div class="photo-frame">
            <img src="/public/images/content/coffee1.jpg">
            <div class="text-frame">
                <p>카페 ITZY에서 바닐라라떼</p>
                <p>2020.04.12 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee2.jpg">
            <div class="text-frame">
                <p>카페 ESPRESSO에서 아메리카노</p>
                <p>2020.04.29 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee1.jpg">
            <div class="text-frame">
                <p>카페 ITZY에서 바닐라라떼</p>
                <p>2020.04.12 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee1.jpg">
            <div class="text-frame">
                <p>카페 ITZY에서 바닐라라떼</p>
                <p>2020.04.12 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee2.jpg">
            <div class="text-frame">
                <p>카페 ESPRESSO에서 아메리카노</p>
                <p>2020.04.29 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee1.jpg">
            <div class="text-frame">
                <p>카페 ITZY에서 바닐라라떼</p>
                <p>2020.04.12 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee2.jpg">
            <div class="text-frame">
                <p>카페 ESPRESSO에서 아메리카노</p>
                <p>2020.04.29 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee1.jpg">
            <div class="text-frame">
                <p>카페 ITZY에서 바닐라라떼</p>
                <p>2020.04.12 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee2.jpg">
            <div class="text-frame">
                <p>카페 ESPRESSO에서 아메리카노</p>
                <p>2020.04.29 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
    </div>
    <div class="main-photo" id="page-2-content">
        <div class="photo-frame">
            <img src="/public/images/content/coffee5.jpg">
            <div class="text-frame">
                <p>카페 free에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee6.jpg">
            <div class="text-frame">
                <p>카페 소담에서 아메리카노</p>
                <p>2020.06.19 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee5.jpg">
            <div class="text-frame">
                <p>카페 free에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee6.jpg">
            <div class="text-frame">
                <p>카페 소담에서 아메리카노</p>
                <p>2020.06.19 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee5.jpg">
            <div class="text-frame">
                <p>카페 free에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee6.jpg">
            <div class="text-frame">
                <p>카페 소담에서 아메리카노</p>
                <p>2020.06.19 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee5.jpg">
            <div class="text-frame">
                <p>카페 free에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee6.jpg">
            <div class="text-frame">
                <p>카페 소담에서 아메리카노</p>
                <p>2020.06.19 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee2.jpg">
            <div class="text-frame">
                <p>카페 ESPRESSO에서 아메리카노</p>
                <p>2020.04.29 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
    </div>
    <div class="main-photo" id="page-3-content">
        <div class="photo-frame">
            <img src="/public/images/content/coffee4.jpg">
            <div class="text-frame">
                <p>카페 둘리에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee4.jpg">
            <div class="text-frame">
                <p>카페 둘리에서 아메리카노</p>
                <p>2020.06.19 <img src="/public/images/content/comment2.png" width="13px">2</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee4.jpg">
            <div class="text-frame">
                <p>카페 둘리에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/coffee5.jpg">
            <div class="text-frame">
                <p>카페 free에서 아메리카노</p>
                <p>2020.04.22 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" class="page current-page" id="page-1">1</a>
        <a href="#" class="page" id="page-2">2</a>
        <a href="#" class="page" id="page-3">3</a>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="/public/js/menu-button.js"></script>
<script src="/public/js/clock.js"></script>
<script src="/public/js/popup.js"></script>
<script src="/public/js/pagination.js"></script>
{% endblock %}