{% extends 'layout.html' %}

{% block css %}
<link rel='stylesheet' href="/public/css/common-part.css">
<link rel='stylesheet' href="/public/css/food.css">
{% endblock %}


{% block maincontent %}
<div class="content">
    <h5>맛집추천<p>_게시글 15개</p>
    </h5>
    <div class="main-photo show" id="page-1-content">
        <div class="photo-frame">
            <img src="/public/images/content/food1.jpg">
            <div class="text-frame">
                <p>햄버거 맛집★★★★★ !맛집추천!</p>
                <p>2020.06.08 <img src="/public/images/content/comment2.png" width="13px">5</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food2.jpg">
            <div class="text-frame">
                <p>피자 맛집★★★★ !맛집추천!</p>
                <p>2020.07.23 <img src="/public/images/content/comment2.png" width="13px">8</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food3.jpg">
            <div class="text-frame">
                <p>파스타 맛집★★★★★</p>
                <p>2020.10.15 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food1.jpg">
            <div class="text-frame">
                <p>햄버거 맛집★★★★★ !맛집추천!</p>
                <p>2020.06.08 <img src="/public/images/content/comment2.png" width="13px">5</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food2.jpg">
            <div class="text-frame">
                <p>피자 맛집★★★★ !맛집추천!</p>
                <p>2020.07.23 <img src="/public/images/content/comment2.png" width="13px">8</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food3.jpg">
            <div class="text-frame">
                <p>파스타 맛집★★★★★</p>
                <p>2020.10.15 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food1.jpg">
            <div class="text-frame">
                <p>햄버거 맛집★★★★★ !맛집추천!</p>
                <p>2020.06.08 <img src="/public/images/content/comment2.png" width="13px">5</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food2.jpg">
            <div class="text-frame">
                <p>피자 맛집★★★★ !맛집추천!</p>
                <p>2020.07.23 <img src="/public/images/content/comment2.png" width="13px">8</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food3.jpg">
            <div class="text-frame">
                <p>파스타 맛집★★★★★</p>
                <p>2020.10.15 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
    </div>
    <div class="main-photo" id="page-2-content">
        <div class="photo-frame">
            <img src="/public/images/content/food1.jpg">
            <div class="text-frame">
                <p>햄버거 맛집★★★★★ !맛집추천!</p>
                <p>2020.06.08 <img src="/public/images/content/comment2.png" width="13px">5</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food2.jpg">
            <div class="text-frame">
                <p>피자 맛집★★★★ !맛집추천!</p>
                <p>2020.07.23 <img src="/public/images/content/comment2.png" width="13px">8</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food3.jpg">
            <div class="text-frame">
                <p>파스타 맛집★★★★★</p>
                <p>2020.10.15 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food1.jpg">
            <div class="text-frame">
                <p>햄버거 맛집★★★★★ !맛집추천!</p>
                <p>2020.06.08 <img src="/public/images/content/comment2.png" width="13px">5</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food2.jpg">
            <div class="text-frame">
                <p>피자 맛집★★★★ !맛집추천!</p>
                <p>2020.07.23 <img src="/public/images/content/comment2.png" width="13px">8</p>
            </div>
        </div>
        <div class="photo-frame">
            <img src="/public/images/content/food3.jpg">
            <div class="text-frame">
                <p>파스타 맛집★★★★★</p>
                <p>2020.10.15 <img src="/public/images/content/comment2.png" width="13px">1</p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" class="page current-page" id="page-1">1</a>
        <a href="#" class="page" id="page-2">2</a>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/public/js/menu-button.js"></script>
<script src="/public/js/clock.js"></script>
<script src="/public/js/pagination.js"></script>
<script src="/public/js/popup.js"></script>
{% endblock %}