{% extends 'layout.html' %}

{% block css %}
<link rel='stylesheet' href="/public/css/home.css">
{% endblock %}


{% block maincontent %}
<div class="content">
    <div class="content-line1">
        <div class="line1-coffee">
            <h5>[카페모음]<a href="/cafe">더보기</a></h5>
            <div class="coffee">
                <img src="/public/images/content/coffee1.jpg" width="140px">
                <div>
                    <p>카페 ITZY...</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sint?</p>
                    <p>2020.04.12</p>
                </div>
            </div>
            <div class="coffee">
                <img src="/public/images/content/coffee2.jpg" width="140px">
                <div>
                    <p>카페 ESPRESSO...</p>
                    <p>Lorem ipsum dolor sit amet consectetur, accusantium obcaecati quia facere!</p>
                    <p>2020.04.29</p>
                </div>
            </div>
            <div class="coffee">
                <img src="/public/images/content/coffee3.jpg" width="140px">
                <div>
                    <p>카페 WITH COFFEE...</p>
                    <p>Lorem ipsum dolor adipisicing elit. Vel minima vitae delectus corrupti cupiditate ex, quos
                        animi.</p>
                    <p>2020.12.13</p>
                </div>
            </div>
        </div>
        <div class="line1-food">
            <h5>[맛집추천]<a href="/food">더보기</a></h5>
            <div class="food">
                <img src="/public/images/content/food1.jpg" width="141px">
                <div>
                    <p>햄버거 맛집★★★...</p>
                    <p>Lorem ipsum dolor, Dignissimos non saepe, sequi at excepturi repudiandae suscipit fugiat aut.
                    </p>
                    <p>2020.06.08</p>
                </div>
            </div>
            <div class="food">
                <img src="/public/images/content/food2.jpg" width="141px">
                <div>
                    <p>피자 맛집★★...</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, hic. Lorem ipsum dolor sit
                        amet.</p>
                    <p>2020.07.23</p>
                </div>
            </div>
            <div class="food">
                <img src="/public/images/content/food3.jpg" width="141px">
                <div>
                    <p>파스타 맛집★★★...</p>
                    <p>Lorem ipsum dolor sit amet consectetur. Suscipit, iure quis.</p>
                    <p>2020.10.15</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-line2">
        <h5>[일상]<a href="/daily">더보기</a></h5>
        <div class="daily">
            <img src="/public/images/content/daily1.jpg" height="110px">
            <div>
                <p>주말에 등산...</p>
                <p>Lorem ipsum dolor, Dignissimoss none saepe, sequi at excepturi repudiandae suscipit fugiat aut.
                </p>
                <p>2020.05.28</p>
            </div>
        </div>
        <div class="daily">
            <img src="/public/images/content/daily2.jpg" height="110px">
            <div>
                <p>오랜만에 놀이공원...</p>
                <p>Lorem ipsum dolor adipisg elit. Nihil, hic. Lorem ipsum dolor sit amet.</p>
                <p>2020.06.15</p>
            </div>
        </div>
    </div>

    <div class="content-line3">
        <div class="line3-diary">
            <h5>[일기]<a href="/diary">더보기</a></h5>
            <div class="diary">
                <div>
                    <p>화창한 날씨...</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum autem ratione totam
                        exercitationem omnis dolore. Perferendis dicta autem ipsam.</p>
                    <p>2020.06.29</p>
                </div>
            </div>
            <div class="diary">
                <div>
                    <p>비 내린 날...</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo culpa laboriosam eligendi, in
                        tempore ipsum perferendis, architecto error tempora inventore deserunt, voluptates
                        temporibus?</p>
                    <p>2020.07.12</p>
                </div>
            </div>
            <div class="diary">
                <div>
                    <p>눈 내린 날...</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt officiis nisi eveniet
                        magnam?</p>
                    <p>2020.12.17</p>
                </div>
            </div>
        </div>
        <div class="line3-review">
            <h5>[리뷰★]<a href="/review">더보기</a></h5>
            <div class="review">
                <img src="/public/images/content/review1.jpg" width="165px">
                <div>
                    <p>[공기청정기]미세먼지...</p>
                    <p>Lorem ipsum dolor, Dignissimos non saepe, sequi at excepturi repudiandae suscipit fugiat aut.
                    </p>
                    <p>2020.12.08</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="/public/js/menu-button.js"></script>
<script src="/public/js/clock.js"></script>
<script src="/public/js/popup.js"></script>
{% endblock %}