<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <ul class="menu">
                <li><a href="#">로그인</a></li>
                <li id="menu-button"><img src="/public/images/3lines.png"></li>
            </ul>

            <a href="/" id="title">
                <h3>Chae J </h3>
                <h3>'s DAILY BLOG</h3>
            </a>
            <div class="home-image">
                <div><img src="/public/images/diary.jpg"></div>
                <div><img src="/public/images/camera.jpg"></div>
                <div><img src="/public/images/camera2.jpg"></div>
                <div><img src="/public/images/book.jpg"></div>
            </div>

            <div class="category">
                <ul>
                    <li><a href="/cafe">카페모음</a>
                        <p>|</p>
                    </li>
                    <li><a href="/food">맛집추천</a>
                        <p>|</p>
                    </li>
                    <li><a href="/daily">일상</a>
                        <p>|</p>
                    </li>
                    <li><a href="/diary">일기</a>
                        <p>|</p>
                    </li>
                    <li><a href="/review">리뷰★</a>
                        <p>|</p>
                    </li>
                </ul>
            </div>

            <nav id="hidden-menu" class="hidden">
                <ul>
                    <li><a href="#">글쓰기</a></li>
                    <li><a href="#">쪽지함</a></li>
                    <li><a href="#">설정</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="side">
                <div class="side-profile">
                    <div><img src="/public/images/profile_w.png" width="115px"></div>
                    <div><img src="/public/images/flower2.png" width="20px"> Chae J <img src="/public/images/flower2.png" width="20px">
                    </div>
                    <div>(cowjd)</div>
                    <div>
                        <p>프로필▶</p>
                        <p><button onclick="popup();">친구추가▶</button></p>
                    </div>
                </div>

                <div class="clock">
                    <h4></h4>
                    <h1>00:00:00</h1>
                </div>

                <div class="log">
                    <div>활동기록</div>
                    <div class="log-content">
                        <div>
                            <p>게시글 수</p>
                            <p>48</p>
                            <p>개</p>
                        </div>
                        <div>
                            <p>좋아요 수</p>
                            <p>1034</p>
                            <p>개</p>
                        </div>
                        <div>
                            <p>친구 수</p>
                            <p>40</p>
                            <p>명</p>
                        </div>
                        <div>
                            <p>오늘 방문자 수</p>
                            <p>21</p>
                            <p>명</p>
                        </div>
                    </div>
                </div>
                <div class="add-neighbor-container">
                    <div class="add-neighbor">
                        <h4>친구추가</h4>
                        <div>Chae J님을 </div>
                        <div><a>친구목록에 추가</a>하시겠습니까?</div>
                        <div class="popup-buttons">
                            <button>추가</button>
                            <button id="cancel" onclick="closePopup()">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            {% block maincontent %}
            {% endblock %}
        </main>


        <footer>
            <div>
                <p>copyright &copy;2020. ChaeJ All Right Reserved</p>
            </div>
        </footer>
    </div>

    {% block js %}
    {% endblock %}
</body>

</html>